* {
	font-family: Verdana, arial, sans-serif;
}



body {
	background-color: rgb(247, 245, 245);
}

header,
aside,
footer,
article {
	display: block;
}

header,
footer {
	background-color: white;
	padding: 5px;

}

header {
	background-image: url("../afbeeldingen/hoofding.jpg");
	margin-top: -8px;
	text-align: center;
	padding-top: 80px;
	color: rgb(238, 249, 242);
}

h1 {
	font-family: 'Times New Roman';
	font-size: 90px;
	color: rgb(234, 180, 118);
}

aside {
	float: right;
	width: 20%;
	background-color: rgb(235, 207, 170);
	padding: 20px;
	margin-top: -30px;
	margin-right: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
	float: left;
	width: 70%;
	margin: 10px;
	margin-left: 0px;
	padding: 10px;
	background-color: #9ba8ea;
	border-style: outset;
	color: rgb(244, 244, 242); 
	/*lichtgrijs*/
}

footer {
	clear: both;
	text-align: center;
}

p {
	font-style: normal;
	font-weight: 200;
	margin: 10px;
}

h5 {
	font-weight: lighter;
	margin: 0px;
	margin-left: 10px ;
	background-color: rgb(224, 179, 144);
	padding: 10px;
	border: 1px solid  rgb(10, 10, 10);
	border-radius: 10px;
}